<!DOCTYPE html>
<html lang="en" class="{% block htmlclass '' %}">
<head>
{% include '@PulpyAdmin/_partials/base.head.html.twig' %}
</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('/vendor/jquery/jquery/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/vendor/handlebars/handlebars/handlebars-v1.3.0.js') }}"></script>
<script type="text/javascript" src="{{ asset('/vendor/ember/ember-debug/ember-debug.js') }}"></script>
<script type="text/javascript" src="{{ asset('/vendor/ember/ember-data/ember-data.min.js') }}"></script>
{% endblock %}
</body>
</html>